[Unit]
Description=WebText Flask app
After=local-fs.target network.target

[Service]
Type=simple
Environment=FLASK_APP=app.py:app
WorkingDirectory=/home/pi/webtext
ExecStart=/usr/bin/python3 -m flask run --host=0.0.0.0 --port=80
Restart=always

[Install]
WantedBy=default.target

